{% extends 'base.html.twig' %}

{% block title %}Test{% endblock title %}

{% block body %}
    <div class="bg-lg-rgt">
        <div class="lg-rgst-display">
            <div class="log-registre-btn">
                <button id="btn-login" class="btn-log-registre">Se connecter</button>
                <button id="btn-registre" class="btn-log-registre">S'inscrire</button>
                <div class="clear"></div>
            </div>
            <div class="display-lg">
                <div id="login-display">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
                            </div>
                        {% endif %}
                        <div class="login">
                            <h1 class="h3 mb-3 font-weight-normal">Connexion sécurisé</h1>
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" placeholder="Email" required autofocus>
                            <label for="inputPassword" class="sr-only">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                   placeholder="Mot de passe" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button class="btn btn-lg btn-primary" type="submit">Envoyer</button>
                        </div>
                    </form>
                </div>
                <div id="register-display">
                    {{ form_start(registerForm) }}
                    {{ form_end(registerForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}